%tr
  %td
    %p.font-16 Item Total:
  %td
    %p.font-16= price_in_currency(@order.subtotal)
%tr
  %td
    %p.font-16 Shipping:
  %td
    %p.font-16= price_in_currency(@order.delivery.price) if @order.delivery.present?
%tr
  %td
    %strong.font-18 Order Total:
  %td
    %strong.font-18= price_in_currency(@order.total_price)